@page
@model AuthSystem.Areas.Identity.Pages.MyHomeModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> <!-- Font chữ Roboto-->
    <link rel="stylesheet" href="~/css/Space.css">
    <link rel="stylesheet" href="~/css/MyHome.css">
    <link rel="stylesheet" href="~/Ảnh chuyên dụng">
    <title>Space</title>
</head>

<body>
    <div class="background">
        <div class="brand-background">
            <h1 class="bread-space">Bread Space</h1>
            <!-- Các nút My home, Spaces, Event, About me -->
            <!-- Nút My home -->
            <button class="my-home-btn">
                <img class="home" src="~/Ảnh chuyên dụng/ti-myhome.png" alt="">
                <a class="my-home-link" href="">My home</a>
            </button> <br>
            <!-- Nút Spaces -->
            <button class="spaces-btn">
                <img class="earth" src="~/Ảnh chuyên dụng/ti-earth.png" alt="">
                <a class="spaces-link" href="">Spaces</a>
            </button> <br>
            <!-- Nút Events -->
            <button class="events-btn">
                <img class="calender" src="~/Ảnh chuyên dụng/ti-calender.png" alt="">
                <a class="events-link" href="/Identity/Account/Calendar">Events</a>
            </button> <br>
            <!-- Nút About us -->
            <button class="about-us-btn">
                <img class="info" src="~/Ảnh chuyên dụng/ti-note.png" alt="">
                <a class="about-us-link" href="~/Home/AboutUs">About us</a>
            </button>

            <p class="nhom-2">Group2</p>
        </div>

        <div class="space-background-div">
            <div class="space">
                <h3 class="space-text">Home</h3>

                <!-- Các nút create room, setting, account -->
                <button class="create-room-btn">
                    <img class="create-room-img" src="~/Ảnh chuyên dụng/ti-createroom.png" alt="">
                    <a class="create-room-link" href="~/Identity/Room"> Create room</a>
                </button>
                <button class="setting-btn">
                    <a class="setting-link" href=""> <img class="setting-img" src="~/Ảnh chuyên dụng/ti-setting.png" alt=""></a>
                </button>
                <button class="logout-btn">
                    <a class="logout-link" href=""><img class="logout-img" src="~/Ảnh chuyên dụng/ti-logout.png" alt=""></a>
                </button>
            </div>
           
            <div class="timers">
                
                <div class="Timers">
                   @* <img src="~/Ảnh chuyên dụng/clock.png" alt="">*@
                    @*<h3>My Room</h3>*@
                    <img href="~/Identity/Room" class="image-1" src="~/Ảnh chuyên dụng/image 1.png" alt="">
                    
                </div>
                <div class='wrapper'>
                    <div class='align-wrap'>
                        <div class='align'>
                            <div class='group'>
                               
                            </div>
                            <div class='clock'>
                                 <h5 class='my-room'>My Room</h5>
                                <p class='description'>Welcome back to your place! This is your personal room</p>
                                
                                  
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</body>

</html>